/* Card General */

.card-wrapper {
    background-color: var(--clr-white);
    width: 100%;
    border-radius: 2rem;
    padding: 2.5rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    width: 100%;
    height: auto;
}

@media (min-width: 1139px) {
    .card-container {
        flex-direction: row-reverse;
        align-items: center;
    }

    .card-container .picture-frame {
        order: -1; 
        margin-bottom: 1.5rem; 
        width: 320px;
    }
}



.card-hover {
    transition: .3s ease-in-out;
}

.card-hover:hover {
    box-shadow: -6px 6px 24px 0px var(--clr-grey-4);
    color: rgba(6, 6, 6, .7);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-out;
}

/* Card-L */

.card-L {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 3rem;
    margin: 1rem;
}

/* Card-Picture */

.picture-frame {
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    height: 320px;
    flex-shrink: 0;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
}

.picture-frame img {
    object-fit: cover;
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-frame-round {
    border-radius: 1rem;
    overflow: hidden;
    border-radius: 50%;
    width: 320px;
    height: 100%;
    flex-shrink: 0;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 3rem;
}

.picture-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 100%;
    object-fit: cover;
}

.picture-frame-vw {
    background-color: var(--clr-black);
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    height: clamp(20rem, 50vw + 5rem, 30rem);
    flex-shrink: 0;
}

.picture-frame-vw > img {
    width: 100%;
    object-fit: cover;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper img {
    width: 100%;
    object-fit: cover;
    margin: auto;
    
}

/* Banner */

.banner {
    margin-top: 5rem;
}


/* Buttons */


.btn-primary {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    width: 15.5rem;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
    border-radius: 0.5rem;
    border: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-button);

    background-color: var(--clr-black);
    color: var(--clr-white);

    transition: 0.2s ease-in-out;
}

.auto-width {
    width: auto;
}


.btn-primary:hover,
.btn-primary:focus {
    box-shadow: -12px 12px 0px 0px var(--clr-accent);
    font-weight: var(--fw-medium);
}

.btn-container {
    width: 100%;
    padding: 1rem;
}


.btn-secondary {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    width: 15.5rem;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
    border-radius: 0.5rem;
    background-color: var(--clr-white);

    font-family: var(--ff-primary);
    font-size: var(--fs-button);

    transition: 0.2s ease-in-out;
}

.btn-secondary:hover,
.btn-secondary:focus {
    box-shadow: -12px 12px 0px 0px var(--clr-black);
    border: 2px solid var(--clr-black);
    font-weight: var(--fw-medium);
}

/* Progress bar  */


.circle {
    cursor: pointer;
    margin: 3rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: var(--clr-white);
    z-index: 10;
    border: 3px solid var(--clr-black);
    
    transition: 0.3s ease-in-out;
    flex-shrink: 0; /* Prevent circles from shrinking */
}

.circle:hover {
    border: 3px solid var(--clr-accent);
}

.line {
    position: absolute;
    top: 50%;
    z-index: 1;
    height: 4px;
    width: 450px; /* Fixed width */
    background-color: var(--clr-black);
}

.progress-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    top: 40%;
    flex-wrap: nowrap; /* Prevent wrapping */
}

.circle-active {
    background-color: var(--clr-accent);
}

.picture-wrapper-circle {
    height: 300px;
    width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: bottom;
    border-radius: 50%;
    margin-bottom: 4rem;
}

@media (max-width: 1139px) {
    .progress-bar {
        flex-direction: column;
        align-items: center;
        top: 0; 
    }

    .line {
        display: none;
    }

    .circle {
        margin: 1rem 0; 
    
    }

}
