footer {
    padding: 3.25rem 0;
}

footer a {
    text-decoration: none;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 1rem;
}

.footer-container ul {
    display: flex;
    gap: 1rem;

}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 3rem;
}

.copyright ul {
    display: flex;
    gap: 3rem;
    text-decoration: underline;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
}

.icon img {
    width:3rem;
    height: auto;
    margin:0.5rem;
    filter: invert();

    transition: transform .3s ease-in-out;
}

.icon :hover {
    transform: scale(1.5, 1.5);
}

