@media (min-width: 50em) {
    .card-container {
        flex-direction: row;
        align-items: center;
    }

    .card-container .picture-frame {
        order: -1; 
        margin-bottom: 1.5rem; 
    }
}