:root {

    /* Colors */

    --clr-black:#020202;
    --clr-white:#fdfdfd;
    --clr-background-light: #F4F0F5;
    --clr-accent:#F24444;

    --clr-grey-10: #323232;
    --clr-grey-8:#7B7B7B;
    --clr-grey-4:#B5B5B5;
    --clr-grey-2:#EAEAEA;


    /* Fonts */

    --ff-primary:'Inter', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-medium: 600;
    --fw-bold: 700;

    --fs-title-huge: clamp(8.25rem, 15vw + 2rem, 17.25rem);
    --fs-title: clamp(8.25rem, 15vw + 2rem, 10.25rem);
    --fs-heading-1: clamp(5rem, 10vw + 1rem, 8.25rem);
    --fs-heading-2: clamp(3rem, 10vw + 1rem, 5rem);
    --fs-subtitle: 1.5rem;
    --fs-body-big: clamp(1.5rem, 5vw + 1rem, 2.5rem);
    --fs-body: clamp(0.75rem, 3vw + .5rem, 1rem);
    --fs-caption: clamp(.7rem, 3vw + 0.1rem, 1rem);

    --fs-button: 1.5rem;


    /* Spacing */

    --spacing-margin-inline: clamp(1rem, 5vw + 1rem, 6.25rem);
    --spacing-top: clamp(3rem, 20vw + 1rem, 5rem);
    --spacing-bottom: clamp(5rem, 20vw + 1rem, 10rem);
    --spacing-XS: clamp(.5rem, 10vw + 1rem, 1rem);
    --spacing-S: clamp(1.5rem, 10vw + 1rem, 2rem);
    --spacing-M: clamp(2.5rem, 20vw + 1rem, 3rem);
    --spacing-L: clamp(4rem, 20vw + 1rem, 5rem);
}


